@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Press+Start+2P&display=swap');

/* 
font-family: 'Amatic SC', cursive;
font-family: 'Press Start 2P',cursive;
*/


/* 
Farbe :#1F1F27
*/


/* General Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2vh;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2vh;
}

h4 {
    font-size: 2.5rem;
    padding: 5px;
    color: gold;
}

section {
    color: #fff;
    background-color: #1F1F27;
    text-align: center;
    padding: 7vh 32%;
    height: 100vh;
}

i {
    color: #fff;
}

.round_display {
    border: #fff solid 1px;
    padding: 5px;
    background-color: #4f4f5b;
    border-radius: 10px;
    height: 200px;
}

form {
    /* text-align: left; */
    font-size: 3rem;
}

.input_radio {
    padding: 2vh 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#counter_display {
    display: none;
    padding: 4vh 0;
}

#counter_display p {
    font-size: 5rem;
    padding: 2vh 0;
}

.score {
    border: #fff solid 1px;
    padding: 20px;
    margin-top: 3vh;
    font-size: 3rem;
    position: relative;
    background-color: #4f4f5b;
    border-radius: 10px;
}

.la-user {
    position: absolute;
    left: 20%;
    font-size: 5rem;
    color: yellowgreen;
}

.la-robot {
    position: absolute;
    right: 20%;
    font-size: 5rem;
    color: tomato;
}

.play {
    border: #fff solid 1px;
    margin-top: 3vh;
    padding: 20px;
    background-color: #4f4f5b;
    border-radius: 10px;
}

#overall_result {
    font-size: 5rem;
}

#overall_display {
    padding: 7vh 0;
    display: none;
}

#user_choice {
    color: yellowgreen;
    font-weight: bold;
    font-size: 4rem;
}

#comp_choice {
    color: tomato;
    font-weight: bold;
    font-size: 4rem;
}

.output_result {
    height: 80px;
}

#result {
    display: none;
}

.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.icon div {
    border: #fff solid 2px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1vh;
}

.icon div:hover {
    border: gold solid 2px;
}

.icon div:active {
    border: green solid 2px;
}

.icon div i:active {
    color: green;
    font-size: 4rem;
}

.icon div i {
    font-size: 5rem;
}

.output_result p:nth-of-type(1) {
    font-size: 2rem;
    margin-bottom: 1vh;
}

.output_result p:nth-of-type(2) {
    font-size: 2rem;
}

.your_move {
    font-size: 1rem;
    margin: 2vh 0;
}

a {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    border: #fff solid 1px;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: green;
    font-weight: bold;
}

a:active {
    background-color: yellowgreen;
    color: tomato;
}


/* media query----------------- */

@media only screen and (min-width: 300px) and (max-width: 600px) {
    h1 {
        font-size: 2rem;
        margin: 3vh;
    }
    h2,
    h4 {
        font-size: 2rem;
    }
    section {
        padding: 2vh 10%;
    }
    .input_radio {
        padding: 2vh 10%;
    }
    .round_display {
        height: 150px;
    }
    .la-user {
        position: absolute;
        left: 10%;
        font-size: 4rem;
    }
    .la-robot {
        position: absolute;
        right: 10%;
        font-size: 4rem;
    }
    .play {
        padding: 10px;
    }
    #result {
        font-size: 1.5rem
    }
    .icon div i {
        font-size: 3rem;
    }
    #overall_result {
        font-size: 3.5rem;
    }
}